* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed'
}

html,
body {
    width: 100%;
    height: 100%
}

h1,
h2,
h3,
h4,
p {
    color: aliceblue;
}

#nav {
    width: 100%;
    position: fixed;
    z-index: 9999;

}

#cursor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #F0501E;
    position: fixed;
    z-index: 100;
}

#cursor-blur{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F0501E;
    position: fixed;
    filter: blur(65px);
    
}

#nav-content img {
    height: 120px;
    width: 120px;
    position: relative;
}

#nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    position: relative;
}

#nav-txt h4 {
    font-size: 20px;
    display: inline-block;
    align-items: center;
    margin: 10px;
    text-transform: uppercase;
}

#nav-txt a {
    text-decoration: none;
    color: inherit; 
}
#nav-txt a:active {
    
    color: #F0501E; 
}


#nav-txt {
    text-align: center;
    flex-grow: 1;
}

#bg-video video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -999;
}

#main{
    background-color: rgba(0,0,0,0.60);

}
#home{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
 
    justify-content: center;
    align-items: center;
}
#career{
    width: 100%;
    height: 100vh;
    /* position: relative; */
}
#home p{
    margin-top: 10px;
    width: 50%;
    font-weight: 100;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
#home h1{
    font-size: 150px;
    z-index: 10;
}
#home h1::before{
    content: "MAHENDRA SINGH DHONI";
    color: black;
    position: absolute;
    top: 10rem;
    right: 9rem;
    z-index: -1;
    
}
#home h3{
    font-size: 70px;
}
#trophies{
    width: 100%;
    height:100vh;
}
#history{
    width: 100%;
    height:100vh;
}

#brands{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#brands-txt{
    width: 50% ;
    text-align: center;
    margin-bottom: 30px;
}

#brands-txt p{
    font-size:30px;
}

.scroller-content img{
    width : 220px;
    height : 140px;
    border-radius: 10%;
    display: inline-block;
    
}

.scroller-content{
    display: inline-block;
    animation-name: brandScroller;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 20s;
}
#brands-scroller{
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 100;
    
}
.scroller-content img:hover{
    border: 3px solid #F0501E;
}

#brands-scroller::-webkit-scrollbar{
    visibility: hidden;
}

body::-webkit-scrollbar{
    display: block;
    width: 5px;
    background-color: #F0501E;
}
body::-webkit-scrollbar-thumb{
    background-color: aliceblue;
    border-radius: 50px;
}

@keyframes brandScroller {

    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}


